<div class="layout-container">
  <header >
    <div class="header header-and-footer-container flex items-center justify-between p-1 bg-[url('/assets/img/fond_violet.png')] bg-cover bg-center bg-no-repeat">
      <h1 [routerLink]="['']" class="h1 text-white m-2">HerStory</h1>
      <div class="flex items-center space-x-2 mr-2">
        <button *ngIf="isHomeRoute && !isMobile" class="btn btn-outline-light"><i class="bi bi-funnel"></i></button>
        <button class="btn btn-outline-light" *ngIf="!isMobile"><i class="bi bi-search-heart"></i></button>
        <button *ngIf="isAuthenticated" class="btn btn-outline-light"><i class="bi bi-bell"></i></button>
        <div class="dropdown" *ngIf="isAuthenticated&&autorizeContributorAndUp()">
          <button class="btn btn-outline-light " *ngIf="!isMobile" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list"></i></button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngIf="autorizeContributorAndUp()"> <a class="dropdown-item" (click)="navigateToNewContribution()">Créer un nouveau portrait</a></li>
            <li *ngIf=" authorizeReviewerandUp()"> <a class="dropdown-item" (click)="navigateToContributionManagement()">Gestion des contributions</a></li>
            <li *ngIf=" authorizeReviewerandUp()"> <a class="dropdown-item" (click)="navigateToRoleManagement()">Gestion des utilisateurs</a></li>
          </ul>
        </div>

        <button *ngIf="!isAuthenticated" class="btn btn-outline-light" (click)="navigateToLogin()"><i class="bi bi-person"></i></button>
        <button *ngIf="isAuthenticated" class="btn btn-outline-light" (click)="navigateToProfile()"><i class="bi bi-person"></i></button>
      </div>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer *ngIf="isMobile" class="header-and-footer-container bg-[url('/assets/img/fond_footer.png')]">
    <button *ngIf="isHomeRoute" class="btn btn-outline-light"><i class="bi bi-funnel"></i></button>
    <button class="btn btn-outline-light"><i class="bi bi-search-heart"></i></button>
    <div class="dropdown" *ngIf="isAuthenticated&&autorizeContributorAndUp()">
      <button class="btn btn-outline-light " *ngIf="isMobile" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list"></i></button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngIf="autorizeContributorAndUp()"> <a class="dropdown-item">Créer un nouveau portrait</a></li>
        <li *ngIf=" authorizeReviewerandUp()"> <a class="dropdown-item" (click)="navigateToContributionManagement()">Gestion des contributions</a></li>
        <li *ngIf=" authorizeReviewerandUp()"> <a class="dropdown-item" (click)="navigateToRoleManagement()">Gestion des utilisateurs</a></li>
      </ul>
    </div>
  </footer>
</div>


