.header-and-footer-container {
    background-color: mediumpurple;
}

.main-layout-btn {
    color: white
}

.btn-white {
  background-color: white;
  border: 1px solid #6b46c1; /* Couleur violette, ajustez si nécessaire */
  color: #6b46c1;
}

.text-purple {
  color: #6b46c1; /* Couleur violette */
}
