<div class="container">
  <h2 class="title">Demandes de changement de rôle en attente</h2>

  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Rôle demandé</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of pendingRequests">
          <td>{{ request.userFirstName }} {{ request.userLastName }}</td>
          <td>{{ RoleConstants.getRoleNameInFrench(request.requestedRole.name) }}</td>
          <td class="actions">
            <button (click)="acceptRequest(request)" class="btn btn-accept">
              <i class="bi bi-check-circle"></i>
              <span>Accepter</span>
            </button>
            <button (click)="rejectRequest(request)" class="btn btn-reject">
              <i class="bi bi-x-circle"></i>
              <span>Rejeter</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="pendingRequests.length === 0">
          <td colspan="3" class="no-requests">Aucune demande en attente.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
