USE [master]
GO
/****** Object:  Database [herstory]    Script Date: 10/01/2025 14:30:42 ******/
CREATE DATABASE [herstory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'herstory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\herstory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'herstory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\herstory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [herstory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [herstory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[HashedPassword] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LastRoleChangeId] [int] NULL,
	[AboutMe] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserNotification]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserNotification](
	[AppUserId] [int] NOT NULL,
	[NotificationId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AppUserNotification] PRIMARY KEY CLUSTERED 
(
	[AppUserId] ASC,
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contribution]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contribution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PortraitId] [int] NULL,
	[ContributorId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewerId] [int] NULL,
	[ReviewComment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contribution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContributionDetail]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContributionDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContributionId] [int] NOT NULL,
	[FieldName] [nvarchar](max) NOT NULL,
	[NewValue] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ContributionDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Field] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[TargetEntityType] [int] NOT NULL,
	[TargetEntityId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TriggeredByAppUserId] [int] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portrait]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portrait](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[BiographyAbstract] [nvarchar](max) NOT NULL,
	[BiographyFull] [nvarchar](max) NOT NULL,
	[PhotoUrl] [nvarchar](max) NULL,
	[CountryOfBirth] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[DateOfDeath] [datetime2](7) NULL,
 CONSTRAINT [PK_Portrait] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortraitCategory]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortraitCategory](
	[PortraitId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_PortraitCategory] PRIMARY KEY CLUSTERED 
(
	[PortraitId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortraitField]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortraitField](
	[PortraitId] [int] NOT NULL,
	[FieldId] [int] NOT NULL,
 CONSTRAINT [PK_PortraitField] PRIMARY KEY CLUSTERED 
(
	[PortraitId] ASC,
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleChange]    Script Date: 10/01/2025 14:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleChange](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppUserId] [int] NOT NULL,
	[RequestedRoleId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ProcessedByUserId] [int] NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[IsLastChange] [bit] NOT NULL,
 CONSTRAINT [PK_RoleChange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241129163713_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241205080022_AppUserAboutme', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241216092913_UpdateRoleNameConversion', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[AppUser] ON 

INSERT [dbo].[AppUser] ([Id], [FirstName], [LastName], [Email], [HashedPassword], [CreatedAt], [RoleId], [LastRoleChangeId], [AboutMe]) VALUES (2, N'BannedUser', N'Banned', N'banned@test.com', N'$2a$11$LPncFC0lh3o8Rf21o/u8WOpnZkkScx7y0cFxDJPShDS7J1zKIGRNe', CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2), 3, NULL, NULL)
INSERT [dbo].[AppUser] ([Id], [FirstName], [LastName], [Email], [HashedPassword], [CreatedAt], [RoleId], [LastRoleChangeId], [AboutMe]) VALUES (3, N'ContributorUser', N'Contributor', N'contributor@test.com', N'$2a$11$v4FItc.vbwnV9G9TWV5tku4QG0KMqDc6bZyAyyI.xULqkNLdOummO', CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2), 4, NULL, NULL)
INSERT [dbo].[AppUser] ([Id], [FirstName], [LastName], [Email], [HashedPassword], [CreatedAt], [RoleId], [LastRoleChangeId], [AboutMe]) VALUES (4, N'ReviewerUser', N'Reviewer', N'reviewer@test.com', N'$2a$11$Qj8HAwQ5KxAjzGHMhimsVetOKALzVHUZrgOS7LMA6KMuXsQTTsb6y', CAST(N'2024-12-05T00:00:00.0000000' AS DateTime2), 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (14, N'Scientifique')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (15, N'Artiste')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (16, N'Sportive')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contribution] ON 

INSERT [dbo].[Contribution] ([Id], [PortraitId], [ContributorId], [Status], [CreatedAt], [ReviewedAt], [ReviewerId], [ReviewComment]) VALUES (40, 20, 3, N'Approved', CAST(N'2025-01-07T11:27:16.4822501' AS DateTime2), CAST(N'2025-01-07T11:41:03.7921564' AS DateTime2), 5, N'')
INSERT [dbo].[Contribution] ([Id], [PortraitId], [ContributorId], [Status], [CreatedAt], [ReviewedAt], [ReviewerId], [ReviewComment]) VALUES (41, 21, 3, N'Approved', CAST(N'2025-01-07T11:29:05.2225194' AS DateTime2), CAST(N'2025-01-07T11:41:27.9221494' AS DateTime2), 5, N'')
INSERT [dbo].[Contribution] ([Id], [PortraitId], [ContributorId], [Status], [CreatedAt], [ReviewedAt], [ReviewerId], [ReviewComment]) VALUES (42, 22, 3, N'Approved', CAST(N'2025-01-07T11:43:19.5052911' AS DateTime2), CAST(N'2025-01-07T11:43:36.3496451' AS DateTime2), 5, N'')
SET IDENTITY_INSERT [dbo].[Contribution] OFF
GO
SET IDENTITY_INSERT [dbo].[ContributionDetail] ON 

INSERT [dbo].[ContributionDetail] ([Id], [ContributionId], [FieldName], [NewValue]) VALUES (253, 40, N'FirstName', N'Ada')
INSERT [dbo].[ContributionDetail] ([Id], [ContributionId], [FieldName], [NewValue]) VALUES (254, 40, N'LastName', N'Lovelace')
INSERT [dbo].[ContributionDetail] ([Id], [ContributionId], [FieldName], [NewValue]) VALUES (255, 40, N'DateOfBirth', N'1815-12-10')
GO
SET IDENTITY_INSERT [dbo].[ContributionDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Field] ON 

INSERT [dbo].[Field] ([Id], [Name]) VALUES (15, N'Informatique et Technologie')
INSERT [dbo].[Field] ([Id], [Name]) VALUES (16, N'Sciences exactes')
INSERT [dbo].[Field] ([Id], [Name]) VALUES (17, N'Sciences du vivant')
SET IDENTITY_INSERT [dbo].[Field] OFF
GO
SET IDENTITY_INSERT [dbo].[Portrait] ON 

SET IDENTITY_INSERT [dbo].[Portrait] OFF
GO
INSERT [dbo].[PortraitCategory] ([PortraitId], [CategoryId]) VALUES (24, 14)
INSERT [dbo].[PortraitCategory] ([PortraitId], [CategoryId]) VALUES (27, 14)
INSERT [dbo].[PortraitCategory] ([PortraitId], [CategoryId]) VALUES (28, 14)
GO
INSERT [dbo].[PortraitField] ([PortraitId], [FieldId]) VALUES (20, 15)
INSERT [dbo].[PortraitField] ([PortraitId], [FieldId]) VALUES (21, 15)
INSERT [dbo].[PortraitField] ([PortraitId], [FieldId]) VALUES (22, 15)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (3, N'Banned', N'Utilisateur banni')
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (4, N'Contributor', N'Utilisateur qui peut soumettre des ajouts ou des modifications aux portraits')
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (5, N'Reviewer', N'Utilisateur peut relire les portrait soumis et ajouter de nouveaux contributeurs')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
/****** Object:  Index [IX_AppUser_LastRoleChangeId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_LastRoleChangeId] ON [dbo].[AppUser]
(
	[LastRoleChangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppUser_RoleId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_AppUser_RoleId] ON [dbo].[AppUser]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppUserNotification_NotificationId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_AppUserNotification_NotificationId] ON [dbo].[AppUserNotification]
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contribution_ContributorId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_Contribution_ContributorId] ON [dbo].[Contribution]
(
	[ContributorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contribution_PortraitId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_Contribution_PortraitId] ON [dbo].[Contribution]
(
	[PortraitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contribution_ReviewerId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_Contribution_ReviewerId] ON [dbo].[Contribution]
(
	[ReviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContributionDetail_ContributionId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_ContributionDetail_ContributionId] ON [dbo].[ContributionDetail]
(
	[ContributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_TriggeredByAppUserId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_TriggeredByAppUserId] ON [dbo].[Notification]
(
	[TriggeredByAppUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PortraitCategory_CategoryId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_PortraitCategory_CategoryId] ON [dbo].[PortraitCategory]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PortraitField_FieldId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_PortraitField_FieldId] ON [dbo].[PortraitField]
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleChange_AppUserId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_RoleChange_AppUserId] ON [dbo].[RoleChange]
(
	[AppUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleChange_ProcessedByUserId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_RoleChange_ProcessedByUserId] ON [dbo].[RoleChange]
(
	[ProcessedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleChange_RequestedRoleId]    Script Date: 10/01/2025 14:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_RoleChange_RequestedRoleId] ON [dbo].[RoleChange]
(
	[RequestedRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Portrait] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [FK_AppUser_Role_RoleId]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_RoleChange_LastRoleChangeId] FOREIGN KEY([LastRoleChangeId])
REFERENCES [dbo].[RoleChange] ([Id])
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [FK_AppUser_RoleChange_LastRoleChangeId]
GO
ALTER TABLE [dbo].[AppUserNotification]  WITH CHECK ADD  CONSTRAINT [FK_AppUserNotification_AppUser_AppUserId] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AppUser] ([Id])
GO
ALTER TABLE [dbo].[AppUserNotification] CHECK CONSTRAINT [FK_AppUserNotification_AppUser_AppUserId]
GO
ALTER TABLE [dbo].[AppUserNotification]  WITH CHECK ADD  CONSTRAINT [FK_AppUserNotification_Notification_NotificationId] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([Id])
GO
ALTER TABLE [dbo].[AppUserNotification] CHECK CONSTRAINT [FK_AppUserNotification_Notification_NotificationId]
GO
ALTER TABLE [dbo].[Contribution]  WITH CHECK ADD  CONSTRAINT [FK_Contribution_AppUser_ContributorId] FOREIGN KEY([ContributorId])
REFERENCES [dbo].[AppUser] ([Id])
GO
ALTER TABLE [dbo].[Contribution] CHECK CONSTRAINT [FK_Contribution_AppUser_ContributorId]
GO
ALTER TABLE [dbo].[Contribution]  WITH CHECK ADD  CONSTRAINT [FK_Contribution_AppUser_ReviewerId] FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[AppUser] ([Id])
GO
ALTER TABLE [dbo].[Contribution] CHECK CONSTRAINT [FK_Contribution_AppUser_ReviewerId]
GO
ALTER TABLE [dbo].[Contribution]  WITH CHECK ADD  CONSTRAINT [FK_Contribution_Portrait_PortraitId] FOREIGN KEY([PortraitId])
REFERENCES [dbo].[Portrait] ([Id])
GO
ALTER TABLE [dbo].[Contribution] CHECK CONSTRAINT [FK_Contribution_Portrait_PortraitId]
GO
ALTER TABLE [dbo].[ContributionDetail]  WITH CHECK ADD  CONSTRAINT [FK_ContributionDetail_Contribution_ContributionId] FOREIGN KEY([ContributionId])
REFERENCES [dbo].[Contribution] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContributionDetail] CHECK CONSTRAINT [FK_ContributionDetail_Contribution_ContributionId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_AppUser_TriggeredByAppUserId] FOREIGN KEY([TriggeredByAppUserId])
REFERENCES [dbo].[AppUser] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_AppUser_TriggeredByAppUserId]
GO
ALTER TABLE [dbo].[PortraitCategory]  WITH CHECK ADD  CONSTRAINT [FK_PortraitCategory_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PortraitCategory] CHECK CONSTRAINT [FK_PortraitCategory_Category_CategoryId]
GO
ALTER TABLE [dbo].[PortraitCategory]  WITH CHECK ADD  CONSTRAINT [FK_PortraitCategory_Portrait_PortraitId] FOREIGN KEY([PortraitId])
REFERENCES [dbo].[Portrait] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PortraitCategory] CHECK CONSTRAINT [FK_PortraitCategory_Portrait_PortraitId]
GO
ALTER TABLE [dbo].[PortraitField]  WITH CHECK ADD  CONSTRAINT [FK_PortraitField_Field_FieldId] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Field] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PortraitField] CHECK CONSTRAINT [FK_PortraitField_Field_FieldId]
GO
ALTER TABLE [dbo].[PortraitField]  WITH CHECK ADD  CONSTRAINT [FK_PortraitField_Portrait_PortraitId] FOREIGN KEY([PortraitId])
REFERENCES [dbo].[Portrait] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PortraitField] CHECK CONSTRAINT [FK_PortraitField_Portrait_PortraitId]
GO
ALTER TABLE [dbo].[RoleChange]  WITH CHECK ADD  CONSTRAINT [FK_RoleChange_AppUser_AppUserId] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AppUser] ([Id])
GO
ALTER TABLE [dbo].[RoleChange] CHECK CONSTRAINT [FK_RoleChange_AppUser_AppUserId]
GO
ALTER TABLE [dbo].[RoleChange]  WITH CHECK ADD  CONSTRAINT [FK_RoleChange_AppUser_ProcessedByUserId] FOREIGN KEY([ProcessedByUserId])
REFERENCES [dbo].[AppUser] ([Id])
GO
ALTER TABLE [dbo].[RoleChange] CHECK CONSTRAINT [FK_RoleChange_AppUser_ProcessedByUserId]
GO
ALTER TABLE [dbo].[RoleChange]  WITH CHECK ADD  CONSTRAINT [FK_RoleChange_Role_RequestedRoleId] FOREIGN KEY([RequestedRoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RoleChange] CHECK CONSTRAINT [FK_RoleChange_Role_RequestedRoleId]
GO
USE [master]
GO
